<style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
	  font-family:"palatino";
    }

    /* الهيدر */
    header {
      background-color: #20A2CD;
      display: flex;
      align-items: center;
	  text-align: center;
      padding: 15px 50px;
      height: 60px;
	  font-family:'caveat';
    }

    .logo-container {
      display: flex;
      align-items: center;
      gap: 20px;
    }

    .logo-container img {
      height: 90px;
    }

    .logo-container h1 {
      color: white;
      font-size: 48px;
      font-weight: bold;
    }

    /* شريط التنقل */
    nav {
      background-color: #10597F;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      padding: 5px 5px;
    }

    nav a {
      color: white;
      text-decoration: none;
      margin: 0 15px;
      font-size: 20px;
      padding: 10px;
      transition: 0.3s;
    }

    nav a:hover {
      background-color: #CA762B;
      border-radius: 5px;
    }

   
   
    /* التذييل */
    footer {
      text-align: center;
      padding: 20px;
      background-color: #20A2CD;
      color: white;
    }

  </style>

